<div class="container">
  <nav class="row">
    <div class="nav-wrapper">

      <span class="brand-logo center">{{title | uppercase}}</span> <!--      //Uyżcie pipe i nadanie mu wartości wyświetlania tekstu wielkimi literami-->
<!--      <span class="brand-logo center">{{config?.title | uppercase}}</span>    //QuestionMark- Funkcja sprawdza nam czy dany obiekt jest null czy nie-->
<!--      <span class="brand-logo center" *ngIf="dog && dog.name">{{dog.name}}</span>//NgIf-Zastąpienie questionmark i sprawdzanie czy jest pole dog i dog.name i wyswietlenie tego obiektu-->
<!--      <app-dog-name [name]="dog?.name" ></app-dog-name>   //PropertyBinding- dodanie question marka do property binding  -->
<!--      <h3 >{{element.firstChild?.firstChild?.textContent?.toUpperCase()}}</h3>  //Zagnieżdżone obiekty - sprawdzenie i wywowłanie z duzych liter  -->
    </div>
  </nav>

  <div class="row">
    <button class="btn col s2 offset-s10">Dodaj zadanie</button>
    <button class="btn col s2 offset-s10">Zakończ</button>
  </div>


  <div class="row">
    <input
      class="col s8"
      type="text"
      placeholder="Dodaj zadanie i datę wykonania"
    />
    <input class="col s2 disabled" type="date" />
    <button class="btn-floating">+</button>
  </div>

  <ul class="collection">
    <li class="collection-item row">
      <span class="col s10">1 Siłownia - 11.07 czwartek</span>
      <div class="col s2 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons">remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
    <li class="collection-item row">
      <span class="col done">Sprzątanie kuwet</span>
    </li>
  </ul>
<!--  <p>{{'zima' | i18nSelect:translate}}</p>&lt;!&ndash;  //I18nSelectPipe- po deklaracji tłumaczenia ,tłumaczy nam określonego stringa na wartość którą określiliśmy wcześniej&ndash;&gt;-->
<!--  <p>{{num | number: '1.0-0'}}</p>&lt;!&ndash;  //DecimalPipe - Wywołanie liczby którą zadeklarowaliśmy w component.ts i zaokrąglenie jej do liczby całkowitej&ndash;&gt;-->
<!--<p>{{'Mały Napis' | lowercase }}</p>&lt;!&ndash;  //UpperCasePipe- formatuje napisy albo małe litery albo duże&ndash;&gt;-->
<!--<p>{{'źLe SFORmatowany TeKST' | titlecase}}</p>&lt;!&ndash;  //TitleCasePipe- poprawia źle sformatowany tekst&ndash;&gt;-->
<!--<p>{{price | currency}}</p>&lt;!&ndash;  //CurrencyPipe - formatuje kwoty , pokazuje &ndash;&gt;-->
<!--<p>{{price | currency: 'PLN'}}</p>&lt;!&ndash;  //CurrencyPipe - formatuje kwoty , przewalutowuje na polski złoty&ndash;&gt;-->
<!--  <p>Inerpolacja z użyciem pipe: {{translate}}</p>&lt;!&ndash;  //JsonPipe- umozliwia wyświetlanie formatu JSON&ndash;&gt;-->
<!--<p>0.01 to {{0.01 | percent}}</p>&lt;!&ndash;  //PercentPipe - formatuje number na zapis procentowy&ndash;&gt;-->
<!--  <div *ngFor="let item of translate | keyvalue">-->
<!--    {{item.key}} : {{item.value}}&lt;!&ndash;  //KeyValuePipe- do wyświetlania obiektów np.Z bazy danych&ndash;&gt;-->
<!--  </div>-->
<!--<p>Wyświetla pierwszy i trzeci index z listy: {{words | slice : 1:3}}</p>&lt;!&ndash;  //SlicePipe - służy do operacji na listach i stringach taki jak wyżej&ndash;&gt;-->



<!--  <p>{{'06-15.1410' | date: 'fullDate':'':'pl'}}</p>&lt;!&ndash;  //DatePipe - ustawienie daty tak aby wyświetlała się zapisem polskim&ndash;&gt;-->
<!--  <p>{{'06-15.1410' | date: 'fullDate':'':'bn'}}</p>&lt;!&ndash;  //DatePipe - ustawienie daty tak aby wyświetlała się zapisem bengalskim&ndash;&gt;-->

  <h1>Dzisiaj brak zadań :-)</h1>

  <button class="btn red">Wyczyść</button>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{getDate()| date: 'yyyy'//Pipe- nadanie wartości daty tak aby wyswietlala tylko rok }} {{footer}}
      </div>
    </div>
  </footer>
</div>
